@media only screen and (max-width: 1000px) {
  .jobs_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .navi {
    display: none;
  }

  .search_section input {
    display: none;
  }

  .search_section i {
    display: none;
  }

  .search_section button {
    display: none;
  }

  .search_mobile {
    display: flex !important;
  }

  .responsive-menu {
    display: block;
  }

  .jobs_list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (max-width: 600px) {
  .navi {
    display: none;
  }

  .job-item02 {
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
  }

  .job-description02 {
    width: 80%;
    padding: 5px;
    margin: 10px;
  }

  .job-item02 button {
    width: 50%;
  }

  .jobs_list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
